/* VARIABLES */
h1 {
  text-align: center;
  color: blue;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
}

/*.bgPrincipal{background-color:aqua;}*/
h3 {
  color: darkcyan;
}

h4 {
  text-align: center;
}

iframe {
  border-radius: 20px;
  margin: 20px;
}

/* INPUT */
input:focus {
  height: 100px;
  font-size: 30px;
  background-color: lightgrey;
  color: white;
}

:root {
  --bg-principal:aqua;
  --f-s-p-desktop:30px;
}

.mensaje {
  border-radius: 20px;
}

/* BEM */
/* BLOQUE */
body {
  margin: 0;
  background-color: aliceblue;
}

/* GENERAL */
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  font-size: 22px;
}

header {
  position: sticky;
  top: 0px;
}

.producto {
  background-color: var(--bg-principal);
  display: flex;
  justify-content: space-between;
}

header {
  background-color: var(--bg-principal);
}

/* MOBILE */
@media (max-width: 768px) {
  header, main, footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  ul {
    display: flex;
    padding: 0;
    flex-direction: column;
  }
  a {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  nav {
    display: flex;
    flex-direction: column;
  }
  p {
    text-align: center;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    color: black;
  }
  li {
    padding: 0px;
  }
  .gridMainProyectos {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
  }
  h3 {
    text-align: center;
  }
  h1 {
    text-align: center;
  }
  .img-fluid {
    width: 100%;
    border-radius: 20px;
  } /* para evitar el overflow */
  img {
    border-radius: 20px;
  }
  .colorform {
    background-color: aqua;
    font-size: 14px;
    width: 200px;
    margin-left: 150px;
    border-radius: 20px;
    margin: 20px;
  }
  .elemento {
    width: 96%;
    height: 20px;
    border-radius: 20px;
  }
  .centralimg {
    margin: 20px;
    border-radius: 20px;
    width: 90%;
  }
  iframe {
    border-radius: 20px;
    width: 90%;
  }
}
/* DESKTOP */
@media (min-width: 1024px) {
  /* GRID INDEX */
  /* primero grillas,flexbox y box modeling */
  .grid {
    display: grid; /*propiedad que nos habilita el uso de grillas*/
  }
  .grid {
    /* 1 columna y 3 filas */
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
  }
  /* cada etiqueta a que parte representa */
  header {
    grid-area: header;
  }
  main {
    grid-area: main;
  }
  /*footer{grid-area:footer;}*/
  /* un grid dentro de otro grid */
  .gridMainIndex {
    display: grid;
    grid-template-areas: "imgPrincipal imgPrincipal" "titulo titulo" "pIzq imgP"; /* una fila con dos columnas */
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
  }
  /* cada clase a que parte representa */
  .imgPrincipal {
    grid-area: imgPrincipal;
  }
  .titulo {
    grid-area: titulo;
  }
  .parrafoIzq {
    grid-area: pIzq;
  }
  .imgTexto {
    grid-area: imgP;
  }
  /* un grid dentro de otro grid proyecto */
  .gridMainProyectos {
    display: grid;
    grid-template-areas: "tituloProdu tituloProdu tituloProdu" "prodA prodB prodC"; /* una fila con tres columnas */
    grid-template-columns: 33% 33% 34%;
    grid-template-rows: auto auto auto;
  }
  .tituloProdu {
    grid-area: tituloProdu;
  }
  .prodA {
    grid-area: prodA;
  }
  .prodB {
    grid-area: prodB;
  }
  .prodC {
    grid-area: prodC;
  }
  /* FLEX*/
  header, ul, footer {
    display: flex;
  } /* se acomodo con fexbox el header y footer */
  /*.producto{justify-content: space-between;}*/
  .align-items-center {
    align-items: center;
  }
  /* BOX MODEL*/
  li {
    padding: 20px;
  }
  .mt20 {
    margin-top: 20px;
  }
  .img-fluid {
    width: 100%;
    height: 400px;
  } /* para evitar el overflow */
  .prod img {
    border-bottom: 2px solid cyan;
  }
  .imgr {
    width: 90%;
    margin-top: 60px;
  }
  .p20 {
    padding: 20px;
  }
  img {
    border-radius: 20px;
  }
  .colorform {
    background-color: aqua;
    width: 200px;
    border-radius: 20px;
    margin: 100px;
  }
  .elemento {
    width: 227px;
    height: 20px;
    border-radius: 20px;
  }
  /* LA PSEUDOCLASES */
  a {
    text-decoration: none;
    color: blue;
    transition: 1s all;
  }
  a:hover {
    color: chartreuse;
    font-size: 20px;
    background-color: blue;
    padding: 10px;
    border-radius: 20px;
  }
  p {
    font-family: "Courier New", Courier, monospace;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    color: black;
  }
}
ul, footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.gridMain {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(4, auto);
}

.boton, .boton-error {
  color: chartreuse;
  font-size: 20px;
  background-color: blue;
  padding: 10px;
  border-radius: 20px;
}

.boton-error {
  background-color: rgb(94, 89, 89);
}

.boton-primario {
  color: chartreuse;
  font-size: 20px;
  background-color: blue;
  padding: 10px;
  border-radius: 20px;
}

/*# sourceMappingURL=style.css.map */
