/* GENERAL */
ul{list-style-type: none;}
a{text-decoration: none;font-size:22px;}
h1{text-align: center; color:blue;font-size: 40px;
font-family:Arial, Helvetica, sans-serif;}
.bgPrincipal{background-color:aqua;}
body{margin:0; background-color: aliceblue;}
p{
    font-family:'Courier New', Courier, monospace;
    font-size:20px;
    font-weight:normal;
    font-style:normal;
}
h4{text-align:center;}
img{
border-radius: 20px;
width: 90%;
margin:20px;
}
iframe{border-radius: 20px;margin:20px;}
header{
    position: sticky; top: 0px;
}
.colorform{
    background-color:aqua;
    font-size:10px;
    width: 200px;
    height: 240px;
    margin-left: 150px;
    border-radius:20px;
    margin:20px;
}



/* DESKTOP */
@media (min-width:1024px){
    /* GRID INDEX */
/* primero grillas,flexbox y box modeling */
.grid{
    display:grid; /*propiedad que nos habilita el uso de grillas*/
}
.grid{
    /* 1 columna y 3 filas */
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    grid-template-columns:100%;
    grid-template-rows:auto auto auto;
}
/* cada etiqueta a que parte representa */
header{grid-area: header;}
main{grid-area: main;}
footer{grid-area:footer;}

/* un grid dentro de otro grid */
.gridMainIndex{
    display:grid;
    grid-template-areas:
    "imgPrincipal imgPrincipal"/* una fila con una columna */
    "titulo titulo"/* una fila con una columna */
    "pIzq imgP";/* una fila con dos columnas */
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
}

/* cada clase a que parte representa */
.imgPrincipal{grid-area:imgPrincipal;}
.titulo{grid-area: titulo;}
.parrafoIzq{grid-area:pIzq;}
.imgTexto{grid-area:imgP;}

/* un grid dentro de otro grid proyecto */
.gridMainProyectos{
    display:grid;
    grid-template-areas:
    "tituloProdu tituloProdu tituloProdu"/* una fila con una columna */
    "prodA prodB prodC";/* una fila con tres columnas */
    grid-template-columns: 33% 33% 33% ; 
    grid-template-rows: auto auto auto;
}
.tituloProdu{grid-area: tituloProdu;}
.prodA{grid-area:prodA;}
.prodB{grid-area:prodB;}
.prodC{grid-area:prodC;}

/* FLEX*/
header, ul, footer{display: flex;}/* se acomodo con fexbox el header y footer */
.producto{justify-content: space-between;}
.align-items-center{align-items: center;}

/* BOX MODEL*/
li{padding:20px;}
.mt20{margin-top:20px;}
.p20{padding:20px;}
.img-fluid{width:100%;height: 400px;}/* para evitar el overflow */
.prod img{border-bottom: 2px solid cyan;}
.imgr{width: 90%; margin-top: 60px;}

/* GENERAL 
ul{list-style-type: none;}
a{text-decoration: none;font-size:22px;}
h1{text-align: center; color:blue;font-size: 40px;
    font-family:Arial, Helvetica, sans-serif;}
p{
    font-family:'Courier New', Courier, monospace;
    font-size:20px;
    font-weight:normal;
    font-style:normal;
}
body{margin:0; background-color: aliceblue;}
.bgPrincipal{background-color:aqua;}
.prod{background-color:lightblue;padding:5px;margin: 5px;border-radius:20px;}

h4{text-align:center;}
img{
border-radius: 20px;
width: 100%;
}
iframe{border-radius: 20px;}
header{
    position: sticky; top: 0px;
}
*/

.selector {
    /* definir una altura para el scroll */
    height:80%;
    overflow-y: scroll;
    width: 90%;
    /* cambiar el estilo por defecto de la barra de scroll */
    scrollbar-color: aqua rgb(202, 202, 196);
    scrollbar-width: 10px;
}
}

/* MOBILE */
@media (max-width:768px){
    header,main,footer{display:flex;flex-direction: column;align-items: center;}
    ul{display:flex;padding:0;}
    a{color:black;font-size:22px;padding:5px;margin:5px;}
    p{font-size:22px;}
    .gridMainProyectos{
        display:flex;
        flex-direction: column;
        row-gap: 10px;
    }
    h3{
        text-align: center;
    }
    h1{
        text-align: center;
    }
}
