// ANIMACIONES
// declaramos y definimos una animacion
@keyframes animacion-logo{
    0%{
        transform:translate(50px,-50px);
    }
    20%{
        transform:scale(2,2);
    }
    40%{
        transform:rotate(360deg);
    }
    60%{
        transform:scale(1,1);
    }
    80%{
        transform:skew(50deg,30deg);
    }
    100%{
        transform:translate(0,0);
    }
}
.circle{
    margin-top: 30px;
    //margin-left: 110px;//
    width: 50px;
    height: 50px;
    background-color:black;
    border-radius: 50%;
    animation-name:cambiarColor;
    animation-duration: 3s;
    animation-iteration-count: 10;
    animation-direction: alternate-reverse;
    animation-fill-mode: forwards;
}
@keyframes cambiarColor{
    0%{
        background-color: aqua;
        transform:translateX(30%) scale(1.2);
        
    }
    100%{
        background-color: blue;
        transform:translateX(650%) scale(.8);
        
    }
}