h1{text-align: center; color:$primary-color;font-size: 40px;
    font-family:Arial, Helvetica, sans-serif;}
    /*.bgPrincipal{background-color:aqua;}*/
    
    h3{color:$color-secuandario;}
    h4{text-align:center;}
    iframe{border-radius: 20px;margin:20px;}
/* INPUT */
input:focus{
    height: 100px;
    font-size:30px;
    background-color:lightgrey;
    color:white;
}
:root{
    --bg-principal:aqua;
    --f-s-p-desktop:30px;
}
.mensaje{
    border-radius: 20px
}
/* BEM */
/* BLOQUE */
body{margin:0; background-color:$body-color;}
